<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org" xmlns:xlmns="http://www.w3.org/1999/xhtml"
      layout:decorator="/index" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Unggah Dokumen</title>
</head>
<body>
<div class="content-wrapper" layout:fragment="content">
    <div class="container" >
        <section class="content-header">
            <h1>Dokumen</h1>
            <ol class="breadcrumb">
                <li><a th:href="'/user/dokumen/daftar-dokumen'"><i class="fa fa-file-pdf-o"></i> Dokumen</a></li>
                <li><a th:href="'/user/dokumen/daftar-dokumen'"><i class="fa fa-file-pdf-o"></i> Daftar Dokumen</a></li>
                <li class="active" th:text="${dokumen.jdlDokumen}">Nama Dokumen</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <section class="col-lg-12">
                    <div class="box box-widget">
                        <div class="box-header with-border">
                            <h3 class="box-title" th:inline="text"> <span class="fa fa-file-pdf-o"></span> [[${dokumen.jdlDokumen}]]</h3>
                            <br />
                            <small th:text="'Oleh : '+${dokumen.mahasiswa.namaLengkap}"></small>
                            <small th:text="' Published : '+${dokumen.tglDibuat}"></small>

                            <div class="pull-right box-tools box-center">
                                <a type="button" class="btn btn-primary" th:href="@{'/user/dokumen/detail/'+${dokumen.id}}">
                                    <i class="fa fa-cloud-download"></i></a>
                            </div>
                        </div><!-- /.box-header -->
                        <embed th:src="'/../file'+${dokumen.path}" width="100%" height="600"  />
                    </div>
                </section>
            </div>
        </section>


    </div>
</div>
</body>
</html>